<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Table</title>
    <link rel="stylesheet" href="price_panel.css">
    <script src="https://kit.fontawesome.com/8bc722afb8.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/html1/home1.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
</head>

<body>
    <section id="navbar">
        <div class="item">
            <div class="logo"> <img src="logo.png" alt="Doctor">
                <h4>SYNERGY HEALTHS</h4>
            </div>
            <ul>
                <li> <a href="/html1/home1.html">HOME</a></li>
                <li> <a href="/price.html/price.html">PLANS</a></li>
                <li> <a href="/services/services.html">SERVICES</a></li>
                <li> <a href="#">CONTACT US</a></li>
                <li> <a href="/price.html/aboutus.html">ABOUT US</a></li>
            </ul>
            <div class="login">
                <a href="/login/login.html">LOG IN</a>
            </div>
        </div>
        </div>
    </section>
    <div class="container">
        <h2>Choose your plan</h2>
        <div class="price-row">
            <div class="price-col">
                <p>Starter</p>
                <h3>12$ <span>/ month</span></h3>
                <ul>
                    <li>One free delivery</li>
                    <li>Single user</li>
                    <li>Login On Only Phones</li>
                    <li>30min prior bookings</li>
                    <li>limited support</li>
                    <li>certified doctors</li>
                </ul>
                <button>Add to cart</button>
            </div>
            <div class="price-col">
                <p>Advanced</p>
                <h3>15$ <span>/ month</span></h3>
                <ul>
                    <li>free delivery</li>
                    <li>Two users</li>
                    <li>Login on phones and desktops</li>
                    <li>instant consultation</li>
                    <li>limited support</li>
                    <li>certified doctors</li>
                </ul>
                <button>Add to cart</button>
            </div>
            <div class="price-col">
                <p>Premium</p>
                <h3>19$ <span>/ month</span></h3>
                <ul>
                    <li>free delivery</li>
                    <li>Four users</li>
                    <li>Login on phones and desktops</li>
                    <li>instant consultation</li>
                    <li>24/7 services</li>
                    <li>personal chat with doctors</li>
                </ul>
                <button>Add to cart</button>
            </div>
        </div>
    </div>
    <section class="last">
        <div class="footer">
            <div class="box"> <img src="logo.png" alt="Doctor">
                <h4>SYNERGY HEALTHS</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing Ipsam fugiat cum sequi earum aliquam! Sapiente
                    Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Amet, enim?
                </p>
                <i class="fa-solid fa-envelope"></i> info@gmail.com
            </div>
            <div class="box">
                <li>
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">FAQ'S</a></li>
                    </ul>
                </li>
            </div>
            <div class="box">
                <li>
                    <h2>
                        Follow us</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem distinctio eveniet officiis
                        ducimus dolor saepe corporis molestiae numquam provident blanditiis.</p>
                    <ul class="i">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </ul>
                </li>
            </div>
        </div>
        </div>
    </section>
</body>

</html>